<a href="https://colab.research.google.com/github/udaykiran811/PDS-10-2303A51523-/blob/main/Lab06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    "TransactionID": [101, 102, 103, 101, 104, 105, 102],
    "Product": ["A", "B", "C", "A", "D", "E", "B"],
    "Amount": [500, 300, 200, 500, 700, 400, 300]
}

df = pd.DataFrame(data)
print("Before:", df.duplicated().sum())
df_cleaned = df.drop_duplicates()
print("After:", df_cleaned.duplicated().sum())
print(df_cleaned)

Before: 2
After: 0
   TransactionID Product  Amount
0            101       A     500
1            102       B     300
2            103       C     200
4            104       D     700
5            105       E     400

In [ ]:
import pandas as pd

data = {
    "EmployeeID": [1, 2, 3],
    "Name": ["John", "Alice", "Bob"],
    "Salary": ["50000", "60000", "55000"],
    "Joining_Date": ["2022-01-15", "2021-06-10", "2023-03-05"]
}

df = pd.DataFrame(data)
df["Salary"] = pd.to_numeric(df["Salary"])
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])
print(df.dtypes)
print(df)

EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object
   EmployeeID   Name  Salary Joining_Date
0           1   John   50000   2022-01-15
1           2  Alice   60000   2021-06-10
2           3    Bob   55000   2023-03-05