<a href="https://colab.research.google.com/github/udaykiran811/PDS-10-2303A51523-/blob/main/Lab_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

teachers = pd.DataFrame({
    'teacher_id': [1, 2, 3, 4],
    'teacher_name': ['Dr. Sharma', 'Prof. Gupta', 'Dr. Reddy', 'Dr. Khan'],
    'department': ['CSE', 'ECE', 'CSE', 'Math']
})

courses = pd.DataFrame({
    'course_id': [101, 102, 103, 104, 105, 106, 107],
    'course_name': ['Data Structures', 'Networks', 'Algorithms',
                    'Digital Circuits', 'Database Systems', 'Linear Algebra', 'AI'],
    'teacher_id': [1, 2, 1, 2, 3, 4, 1]
})

print("Teachers Data:\n", teachers, "\n")
print("Courses Data:\n", courses, "\n")

merged_inner = pd.merge(courses, teachers, on="teacher_id", how="inner")
merged_left = pd.merge(courses, teachers, on="teacher_id", how="left")

print("Inner Join (Courses with Teachers):\n", merged_inner, "\n")
print("Left Join:\n", merged_left, "\n")

courses_per_teacher = merged_inner.groupby('teacher_name')['course_id'].count().reset_index()
avg_courses_per_teacher = courses_per_teacher['course_id'].mean()
department_workload = merged_inner.groupby('department')['course_id'].count().reset_index()

print("Courses per Teacher:\n", courses_per_teacher, "\n")
print("Average Courses per Teacher:", avg_courses_per_teacher, "\n")
print("Department-wise Workload:\n", department_workload, "\n")

best_department = department_workload.loc[department_workload['course_id'].idxmax()]
print("Department with Highest Workload:\n", best_department)

Teachers Data:
    teacher_id teacher_name department
0           1   Dr. Sharma        CSE
1           2  Prof. Gupta        ECE
2           3    Dr. Reddy        CSE
3           4     Dr. Khan       Math

Courses Data:
    course_id       course_name  teacher_id
0        101   Data Structures           1
1        102          Networks           2
2        103        Algorithms           1
3        104  Digital Circuits           2
4        105  Database Systems           3
5        106    Linear Algebra           4
6        107                AI           1

Inner Join (Courses with Teachers):
    course_id       course_name  teacher_id teacher_name department
0        101   Data Structures           1   Dr. Sharma        CSE
1        102          Networks           2  Prof. Gupta        ECE
2        103        Algorithms           1   Dr. Sharma        CSE
3        104  Digital Circuits           2  Prof. Gupta        ECE
4        105  Database Systems           3    Dr. Reddy        CSE
5        106    Linear Algebra           4     Dr. Khan       Math
6        107                AI           1   Dr. Sharma        CSE

Left Join:
    course_id       course_name  teacher_id teacher_name department
0        101   Data Structures           1   Dr. Sharma        CSE
1        102          Networks           2  Prof. Gupta        ECE
2        103        Algorithms           1   Dr. Sharma        CSE
3        104  Digital Circuits           2  Prof. Gupta        ECE
4        105  Database Systems           3    Dr. Reddy        CSE
5        106    Linear Algebra           4     Dr. Khan       Math
6        107                AI           1   Dr. Sharma        CSE

Courses per Teacher:
   teacher_name  course_id
0     Dr. Khan          1
1    Dr. Reddy          1
2   Dr. Sharma          3
3  Prof. Gupta          2

Average Courses per Teacher: 1.75

Department-wise Workload:
   department  course_id
0        CSE          4
1        ECE          2
2       Math          1

Department with Highest Workload:
 department    CSE
course_id       4
Name: 0, dtype: object